    <!-- Navbar -->
    <section class="hero is-danger is-large">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="navbar-burger" data-target="navbarMenuHeroB">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroB" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="/index">
                                Home
                            </a>
                            <a class="navbar-item is-active" href="/projects">
                                Projects
                            </a>
                            <a class="navbar-item" href="/about">
                                About Me
                            </a>
                            <a class="navbar-item" href="/contact">
                                Contact
                            </a>
                            <a class="navbar-item" href="/blog">
                                Blog
                            </a>
                            <span class="navbar-item">
                                <a class="button is-danger is-inverted" href="./images/resume.pdf"> <span class="icon">
                                        <i class="fas fa-download"></i>
                                    </span>
                                    <span>Resume</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!--Love Connect Project -->
    <section class="hero is-large">
        <figure><img src="./images/loveCon.png" alt="Logo"></figure>
    </section>
    <section class="section is-medium">
        <h1 id="lovCon" class="title">Love Connect</h1>
        <h2 class="subtitle">
            Love Connect is a full stack, mobile responsive, dating application that allows users
            to match based off of their interests. When a user enters the site, they are able to log in, or sign up for
            an account, select their interests,
            upload and edit their bio, find other users based off of their interests, and match with others.
        </h2>
        <div class="field is-grouped">
            <p class="control">
                <a href="https://loveconnect14.herokuapp.com/">
                    <button class="button is-info is-outlined">
                        <span class="icon">
                            <i class="fas fa-external-link-square-alt"></i>
                        </span>
                        <span>Deployed Link</span>
                    </button>
                </a>
            </p>
            <p class="control">
                <a href="https://github.com/prophetrand/project-2-team-3">
                    <button class="button is-dark is-outlined">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                    </button>
                </a>
            </p>
        </div>
    </section>
    <!-- Burger -->
    <section class="hero is-large">
        <figure><img src="./images/burger.png" alt="Logo"></figure>
    </section>
    <section class="section is-medium">
        <h1 id="lovCon" class="title">Burger</h1>
        <h2 class="subtitle">
            This application is a fun burger logger! You can add your favorite burger, and decide whether you want to
            devour it or if you aren't hungry you can change your mind.
        </h2>
        <div class="field is-grouped">
            <p class="control">
                <a href="https://burger-eater70.herokuapp.com/">
                    <button class="button is-info is-outlined">
                        <span class="icon">
                            <i class="fas fa-external-link-square-alt"></i>
                        </span>
                        <span>Deployed Link</span>
                    </button>
                </a>
            </p>
            <p class="control">
                <a href="https://github.com/jessnyj/burger">
                    <button class="button is-dark is-outlined">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                    </button>
                </a>
            </p>
        </div>
    </section>
    <!-- Employee Tracker -->
    <section class="hero is-medium">
        <figure id="empInfo"><img src="./images/info.png" alt="Logo"></figure>
        <figure id="empRole"><img src="./images/role.png" alt="Logo"></figure>
    </section>
    <section class="section is-medium">
        <h1 class="title">Employee Tracker</h1>
        <h2 class="subtitle">
            The employer tracker application allows a user to manage a company's employees. It allows a user to add and
            view departments, roles, employees, as well as update employee roles.
        </h2>
        <div class="field is-grouped">
            <p class="control">
                <a href="https://github.com/jessnyj/employee-tracker">
                    <button class="button is-dark is-outlined">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                    </button>
                </a>
            </p>
        </div>
    </section>
    <!-- Javascript File -->
    <script src="/assets/js/index.js"></script>
