#aboutPic {
    float: left;
}

#aboutText, #title3, #title4, #socialBtns {
    margin-left: 150px;
}

#aboutCard, #contactCard, #blogCard {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 80%;
}

#empInfo, #empRole {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#msg {
    margin-left: 20px;
    margin-right: 20px;
}

#submitBtn {
    margin-bottom: 20px;
    margin-left: 20px;
}